{#
/**
 * @file
 * Theme implementation for a World Time Clock Widget.
 *
 * Available variables
 * - items: List of Widgets.
 */
#}
{% for item in items %}
  <div{{ item.attributes }}></div>
{% endfor %}
